<h1>New restaurant</h1>
<% if false %>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name, error: 'Username is mandatory, please specify one' %>
  <p>---------</p>
  <%= f.error :name, id: 'user_name_error' %>
  

<p>* mandatory</p>
  <table class="schedule-editor">
    <thead>
      <tr>
        <th>Day*</th>
        <th>Opens at*</th>
        <th>Closes at</th>
        <th>Opens at</th>
        <th>Closes at*</th>
      </tr>
    </thead>

    <tbody>    
      <% weekdays.each do |day| %>      
        <%= f.fields_for :schedules, f.object.schedules.find_or_initialize_by(weekday: day[:value]) do |sched| %>        
          <tr>          
            <td>
              <%= sched.hidden_field :weekday %>
              <div class="checkbox">
                <%= sched.check_box :_destroy, {checked: sched.object.persisted?}, "0", "1" %>
                <%= sched.label :_destroy, day[:label] %>
              </div>
            </td>          
            <td>
              <%= sched.label :am_opens_at, class: "visually-hidden" %>
              <%= sched.input :am_opens_at, label: false, error: 'It is mandatory, please specify one' %>
            </td>          
            <td>
              <%= sched.label :am_closes_at, class: "visually-hidden" %>
              <%= sched.input :am_closes_at, label: false %>
            </td> 
            <td>
              <%= sched.label :pm_opens_at, class: "visually-hidden" %>
              <%= sched.input :pm_opens_at, label: false %>
            </td>          
            <td>
              <%= sched.label :pm_closes_at, class: "visually-hidden" %>
              <%= sched.input :pm_closes_at, label: false %>
            </td>     
          </tr>     
        <% end %>    
      <% end %>  
    </tbody>
  </table>

  <%= f.submit "Submit restaurant", class: "btn btn-primary" %>
<% end %>
<% end %>

<% if true %>

<%= form_for @restaurant do |s| %>

  <%= s.label :name, "Restaurant name:" %>
  
  <%= s.text_field :name %>
  <% invalid = @restaurant.errors.include?(:name) %>
  <% if invalid %>
  <div class="invalid-feedback d-block">
    <% @restaurant.errors.full_messages_for(:name).each do |error_message| %>
      <%= error_message %>.
    <% end %>
  </div>
<% end %>
  <table class="schedule-editor">
    <thead>
      <tr>
        <th>Day</th>
        <th>Opens at</th>
        <th>Closes at</th>
      </tr>
    </thead>

    <tbody>    
      <% weekdays.each do |day| %>      
        <%= s.fields_for :schedules, s.object.schedules.find_or_initialize_by(weekday: day[:value]) do |sched| %>        
          <tr>          
            <td>
              <%= sched.hidden_field :weekday %>
              <div class="checkbox">
                <%= sched.check_box :_destroy, {checked: sched.object.persisted?}, "0", "1" %>
                <%= sched.label :_destroy, day[:label] %>
              </div>
            </td>          
            <td>
              <%= sched.label :am_opens_at, class: "visually-hidden" %>
              <%= sched.time_field :am_opens_at %>
            </td>          
            <td>
              <%= sched.label :am_closes_at, class: "visually-hidden" %>
              <%= sched.time_field :am_closes_at %>
            </td> 
            <td>
              <%= sched.label :pm_opens_at, class: "visually-hidden" %>
              <%= sched.time_field :pm_opens_at %>
            </td>          
            <td>
              <%= sched.label :pm_closes_at, class: "visually-hidden" %>
              <%= sched.time_field :pm_closes_at %>
            </td>       
          </tr>     
        <% end %>    
      <% end %>  
    </tbody>
  </table>
  <%= s.submit "valid" %>
<% end %>
<% end %>